/*General Settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Header*/
header {
    margin:auto;
    background-color: pink;
    height: 50px;
}

/*Rows and Columns*/
.row {
    width: 80%;
    margin: auto;
    display: flex;

}

.col-1 {
    width: calc(100% / 12 * 1);

}

.col-3 {
    width: calc(100% / 12 * 3);

}

.col-4 {
    width: calc(100% / 12 * 4);

}

.col-6 {
    width: calc(100% / 12 * 6);

}

.col-8 {
    width: calc(100% / 12 * 8);

}

.col-9 {
    width: calc(100% / 12 * 9);

}

/*Cover*/
.cover {
    background-color: beige;
    height: 500px;
    padding-top: 100px;
}

.caption {
    width: 700px;
    height: 300px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    
}

/*Organization*/
.organization {
    height: 700px;
    background-color: aquamarine;
    display: flex;
}
