/*General Settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
}

.margin {
    margin: auto;
}

/*Header*/
header {
    margin:auto;
    background-color: transparent;
    height: 50px;
    padding-top: 45px;
}

#menu {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 25px;
    font-size: 17px;

}

#accedi {
    width: 80px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-left: 200px;
    
}

.red {
    background-color: red;

}

.blue {
    background-color: blue;
}

.col-50 {
    height: 50px;

}

.col-100 {
    height: 100px;
    width: 100%;
}

.col-500 {
    height: 500px;

}

.border-1 {
    border: 1px solid;
}

/*Rows and Columns*/
.row {
    width: 80%;
    margin: auto;
    display: flex;

}

.col-1 {
    width: calc(100% / 12 * 1);

}

.col-2 {
    width: calc(100% / 12 * 2);

}

.col-3 {
    width: calc(100% / 12 * 3);

}

.col-4 {
    width: calc(100% / 12 * 4);

}

.col-6 {
    width: calc(100% / 12 * 6);

}

.col-8 {
    width: calc(100% / 12 * 8);

}

.col-9 {
    width: calc(100% / 12 * 9);

}

/*Cover*/
.cover {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    padding-top: 100px;
    margin-top: -55px;
    height: 650px;
}

.cov-caption {
    width: 700px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    
}

.main-title {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
}

.main-caption {
    font-size: 17px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    line-height: 1.7;
}

.buttons {
    text-align: center;
    
}

#scarica-mac {
    width: 200px;
    height: 45px;
    border: none;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
}

#apri-discord {
    width: 300px;
    height: 45px;
    border: none;
    background-color: rgb(24, 24, 24);
    color: white;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 20px;
}

/*Organization*/
.organization {
    height: 700px;
    background-color: white;
    display: flex;

}

.org-caption {
    margin-left: -200px;

}

#org-photo {
    margin-left: 125px;

}

.org-title {
    padding-top: 26px;
    font-size: 40px;
    
}

.org-para {
    margin-top: 20px;
    font-size: 17px;
}

/*Voice*/
.voice {
    height: 700px;
    background-color: white;
    display: flex;

}

#voice-photo {
    margin-left: 125px;

}

.voice-title {
    padding-top: 26px;
    font-size: 40px;
    
}

.voice-para {
    margin-top: 20px;
    font-size: 17px;
}

/*Fandom*/
.fandom {
    height: 700px;
    background-color: white;
    display: flex;

}

#fandom-photo {
    margin-left: 125px;

}

.fandom-title {
    padding-top: 26px;
    font-size: 40px;
    
}

.fandom-para {
    margin-top: 20px;
    font-size: 17px;
}



.technology {
    height: 1000px;
    display: flex;
    padding-top: 100px;
}

.tech-caption {
    width: 1500px;
    height: 800px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    
}

footer {
    background-color: pink;
    height: 800px;
    padding-top: 100px;

}

.sub-footer {
    display: flex;
    height: 150px;
    margin: auto;
    width: 80%;
    border-top: 1px solid;
    margin-top: 25px;
    padding-top: 25px;
    
}
