/*General Settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Header*/
header {
    margin:auto;
    background-color: transparent;
    height: 50px;
    padding-top: 20px;
}

.menu {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.red {
    background-color: red;

}

.blue {
    background-color: blue;
}

.col-50 {
    height: 50px;

}

.col-100 {
    height: 100px;
    width: 100%;
}

.col-500 {
    height: 500px;

}

.border-1 {
    border: 1px solid;
}

/*Rows and Columns*/
.row {
    width: 80%;
    margin: auto;
    display: flex;

}

.col-1 {
    width: calc(100% / 12 * 1);

}

.col-2 {
    width: calc(100% / 12 * 2);

}

.col-3 {
    width: calc(100% / 12 * 3);

}

.col-4 {
    width: calc(100% / 12 * 4);

}

.col-6 {
    width: calc(100% / 12 * 6);

}

.col-8 {
    width: calc(100% / 12 * 8);

}

.col-9 {
    width: calc(100% / 12 * 9);

}

/*Cover*/
.cover {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    height: 650px;
    padding-top: 100px;
    margin-top: -55px;
}

.cov-caption {
    width: 700px;
    height: 300px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    
}

/*Main*/
.organization {
    height: 700px;
    background-color: aquamarine;
    display: flex;

}

.voice {
    height: 700px;
    background-color: aquamarine;
    display: flex;

}

.fandom {
    height: 700px;
    background-color: aquamarine;
    display: flex;

}

.technology {
    height: 1000px;
    display: flex;
    padding-top: 100px;
}

.tech-caption {
    width: 1500px;
    height: 800px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    
}

footer {
    background-color: pink;
    height: 800px;
    padding-top: 100px;

}

.sub-footer {
    display: flex;
    height: 150px;
    margin: auto;
    width: 80%;
    border-top: 1px solid;
    margin-top: 25px;
    padding-top: 25px;
    
}
